---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</article>

  <p>Теги заметки:</p>
  <ul class="div">
    {% for tag in page.tags %}
      <li>
        <details>
           <summary><span><i class="fa fa-tag"></i> {%capture entry%}{{tag}}{%endcapture%}{{tag}}</span></summary>
        <ul>
        {% for post in site.tags[entry] %}
          <li><a href="{{post.url}}">{{post.title}}</a></li>
        {%endfor%}
        </ul>
        </details>
      </li>
    {% endfor %}
  </ul>
</main>
